* {
    font-size: 36px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;;
    background-color: beige;
    border-radius: 8px;
}
#flex {
    display: flex;
    align-items: center;
    justify-content: center;

}
#outerContainer {
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    max-width: 500px;
    flex: 1 1 auto;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    background-color: white;
    border-radius: 18px;
    box-shadow: 10px 5px 2px 1px rgba(0, 0, 0, 0.363);
}

#display {
    padding: 20px 30px;
    flex-basis: 36px;
    background-color: brown;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.rows {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    background-color: white;
}

#clear {
    aspect-ratio: 0;
    padding: 20px 10px;
    background-color: orange;
}

button {
    flex: 1 1 50px;
    aspect-ratio: 1/1;
    background-color: royalblue;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

#add, #subtract, #multiply, #divide {
    background-color: rgb(21, 143, 102);
    color: white;
}

